<p style="color: green"><%= notice %></p>

<main class="container">
    <div class="d-flex justify-content-between align-items-center my-4">
      <h2 class="h2 text-center">Products</h2>
    </div>

    <div id="items" class="row g-3">
      <%= render @products %>
    </div>
</main>
